 <!-- error.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Error</title>
<link rel="stylesheet" href="{% static 'styleserror.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <img class="imagen-normal" src="{% static 'images/fondo2.jpg' %}" alt="fondo">
        <img class="imagen-celular" src="{% static 'images/fondocelulares.jpg' %}" alt="fondo para celulares">
    </div>
    <div class="container">
        <div class="card">
            <h2>Error</h2>
            <p>{{ mensaje }}</p> 
        </div>
    </div>
</body>
</html>



