

.contenedor {
  position: relative;
}

.imagen-normal {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.imagen-celular {
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
 
    .imagen-normal {
      display: none; /* Ocultar la imagen para pantallas más pequeñas */
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    .imagen-celular {
      display: block; /* Mostrar la imagen para dispositivos móviles */
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  

  

  .card {
    box-sizing: border-box;
    width: 370px;
    height: 434px;
    background: rgba(217, 217, 217, 0.58);
    box-shadow: 15px 15px 30px #686c7a,
    -15px -15px 30px #505565;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    color: black;
  }
}

  

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #BABECC;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que la tarjeta esté centrada verticalmente */
}

.card {
    box-sizing: border-box;
    width: 370px;
    height: 434px;
    background: rgba(198, 216, 233, 0.58);
    box-shadow: 15px 15px 30px #b1bad2,
    -15px -15px 30px #f5f5f5;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    color: black;
}


p {
  padding: 2px 29px;
  text-align: justify;
  text-justify: auto;
    color:#5e6493;
text-shadow: 1px 1px 1px #fff;
}

h2{
    color:#5e6493;
text-shadow: 1px 1px 1px #fff;
}


.footers {
  font-size: 14px;
  color: #41557a;
  text-shadow: 1px 1px 1px #858eae;
  text-align: center; 
  margin-top: 12%;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #989DBF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #16304d;
}

h3 {
  color:#545b83;
  text-shadow: 1px 1px 1px #fff;
}

#si {
  background-color: #6687bc; /* Verde */
  color: white;
}

#no {
  background-color: #6E7881; /* Rojo */
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  
}


.procesoformulario {
  background: #c1cfe3;
  border-radius: 0px 0px 20px 20px;
  padding: 2px 29px;
}